body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

/* Dark theme */
.dark-theme {
  background-color: black;
  color: white;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Dropdown menu styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; /* hidden by default */
  position: absolute;
  background-color:antiquewhite;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: white;
}

.show {
  display: block; /* toggled on click */
}
